.page-layout-page {
  display: flex;
  flex-direction: column;
  height: 730px;
  .header-wrapper {
    height: 60px;
    display: flex;
    align-items: center;

    .head-item {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }

  .content-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }
}
