.page-layout-page {
  display: flex;
  flex-direction: column;
  height: 730px;

  .content-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }
}
