{
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": true,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "proseWrap": "preserve",
  "trailingComma": "none",
  "arrowParens": "avoid"
}
