.content {
  //background: #f7f7f7;
  height: 110px;

  .nav {
    height: 60px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-personal {
      margin-right: 30px;
    }

    svg {
      font-size: 20px;
      margin-left: 20px;
    }
  }

  .history {
    height: 30px;
    background: #ffffff;
    margin: 0 10px;
  }
}


:global {
  .ant-switch-inner {
    margin-inline-start: -20px;
    margin-top: -4px;
  }
}





